<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mon produit</title>
</head>
<body>
    <h1>
        {{ prod.name }}
    </h1>
    <p>
        {{ prod.description }}
    </p>
    <span>
        Le prix du produit est de {{ prod.price }} €
    </span>
    <span>
        et il reste {{ prod.quantity }}
        {% if (prod.quantity < 2) %}
            produit
        {% else %}
            produits
        {% endif %}
    </span>
    <a href="{{ path('showProduct') }}">Revenir en arriere</a>
</body>
</html>